<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.usb.host" android:required="false" />
    <uses-feature android:name="android.hardware.usb.accessory" android:required="false" />

    <queries>
        <package android:name="com.baidu.carlife" />
        <package android:name="com.baidu.carlife.hyundai" />
        <package android:name="com.baidu.carlife.vw" />
    </queries>

        <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:name=".CarLifeLabApplication"
        android:icon="@android:drawable/ic_media_play"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarLifeLab">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UsbDiagnosticsActivity"
            android:exported="false" />

        <activity
            android:name=".CarLifeProbeActivity"
            android:exported="false" />

        <activity
            android:name=".CarLifeClientActivity"
            android:exported="true" />

        <activity
            android:name=".TpmsDashboardActivity"
            android:exported="true" />

        <activity
            android:name=".TpmsScanActivity"
            android:exported="false" />

        <service
            android:name=".PlaybackService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
            </intent-filter>
        </service>
        <service
            android:name=".CarLifeBridgeService"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />
    </application>

</manifest>
